<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Säiläklubi on vantaalainen, säilämiekkailuun erikoistunut miekkailuseura.">
    <meta name="author" content="Olli Mahlamäki">
    <link rel="image_src" href="img/fiilis-aikuiset.jpg">

    <meta property="og:title" content="Säiläklubi - säilämiekkailuseura Vantaalla">
    <meta property="og:image" content="http://sailaklubi.fi/img/fiilis-aikuiset.jpg">
    <meta property="og:url" content="http://sailaklubi.fi/">
    <meta property="og:site_name" content="Säiläklubi"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Haluatko miekkailijaksi? Miekkailun alkeiskurssi 10-15v tytöille ja pojille 1.9.2014 alkaen. Ilmoittaudu mukaan!">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/sk.css">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33915312-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>
  <body>
    <div id="header">
      <div class="content">
        <h1>Säiläklubi</h1>
        <p>Säiläklubi on vantaalainen, säilämiekkailuun erikoistunut miekkailuseura.</p>
      </div>
    </div>

    {{ content }}

    <footer>
      <p class="content">© Säiläklubi 2012-2014, Kuvat: Lehtikuva, Arttu Toivonen, Marie-Lan Nguyen / Wikimedia Commons, <a href="http://commons.wikimedia.org/wiki/User:Pschemp">Wikipedia</a></p>
    </footer>

    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript">
      (function() {
        var height = $("body").height();
        var windowHeight, scroll, updated = true, enabled = false;
        $(window).scroll(scroll).resize(resize);

        function scroll() {
          scroll = $(window).scrollTop();
          update();
        }

        function resize() {
          windowHeight = $(window).height();
          var enableNow = $(window).width() >= 480;
          if(!enabled && enableNow) {
            updated = true;
            update();
          } else if(enabled && !enableNow) {
            $(".header-image").css({"background-position": "center"});            
          }
          enabled = enableNow;
        }

        function update() {
          if(updated && enabled) {
            updated = false;          
            requestAnimationFrame(parallax);
          }
        }

        function parallax() {
          $(".header-image").each(function() {
            var $t = $(this)
            var pos = Math.max(0, Math.min(1, 1 - (scroll - this.offsetTop + windowHeight) / (windowHeight * 2) )); 
            $(this).css({"background-position": "50% -" + Math.floor($t.height()*pos) + "px"})
          });
          updated = true;
        }

        resize();
        scroll()
      })();
    </script>
  </body>
</html>
